@model TPModule6.Models.DojoViewModel
@using TPModule6.Helpers

@{
    ViewBag.Title = "Create";
}

<h2>Créer</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.Partial("_SamouraiDisplay", Model)

    @Html.CustomSubmit("Create")
</div>
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
